n8n-workflows/mcp-input-handler-v3.json
{
  "name": "MCP Input Handler v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "1. Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "mcp-chat-v3"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json || {};\n\nconst message = body.message || body.query || body.text || '';\nconst channel = body.channel || 'api';\nconst userId = body.user?.id || body.userId || 'anonymous';\n\nif (!message) {\n  throw new Error('No message found');\n}\n\nreturn {\n  json: {\n    message: message,\n    channel: channel,\n    userId: String(userId)\n  }\n};"
      },
      "id": "extract-1",
      "name": "2. Extraer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://parking-b2b:3001/mcp/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "channel",
              "value": "={{ $json.channel }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-1",
      "name": "3. AI Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-1",
      "name": "4. Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "1. Webhook": {
      "main": [[{"node": "2. Extraer", "type": "main", "index": 0}]]
    },
    "2. Extraer": {
      "main": [[{"node": "3. AI Chat", "type": "main", "index": 0}]]
    },
    "3. AI Chat": {
      "main": [[{"node": "4. Responder", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}
