n8n-workflows/partner-handler-complete.json
{
  "name": "Partner Handler COMPLETO - Parking B2B",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "partner-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "1. Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "partner-webhook-complete"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// VERIFICACIÓN HMAC (sin módulo crypto)\n// ============================================\n// Se relaja para eventos internos y nunca se lanza throw; se devuelve { valid: false, error }\nconst MAX_TIMESTAMP_DIFF = 300; // 5 minutos\n\n// Lista de partners autorizados (en producción: base de datos)\n// 'internal-system' permite eventos internos del sistema (backend REST → B2B → n8n)\nconst AUTHORIZED_PARTNERS = ['waze-partner', 'google-partner', 'test-partner-123', 'waze-partner-001', 'internal-system'];\n\ntry {\n  // Extraer datos del webhook\n  const inputData = $input.first().json || {};\n  const headers = inputData.headers || {};\n  // El body puede estar en inputData.body (cuando viene de n8n webhook) o directamente en inputData (eventos internos)\n  const body = inputData.body || (inputData.eventType ? inputData : {});\n\n  // Headers de autenticación (con defaults seguros para internos)\n  const apiKey = headers['x-api-key'] || headers['X-API-Key'] || inputData['X-API-Key'] || 'internal-system';\n  const signature = headers['x-signature'] || headers['X-Signature'] || inputData['X-Signature'] || 'internal-signature';\n  const timestamp = headers['x-timestamp'] || headers['X-Timestamp'] || inputData['X-Timestamp'] || Math.floor(Date.now() / 1000).toString();\n  const nonce = headers['x-nonce'] || headers['X-Nonce'] || inputData['X-Nonce'] || '';\n  // El eventType puede venir en headers o directamente en el body para eventos internos\n  const eventType = headers['x-webhook-event'] || headers['X-Webhook-Event'] || body.eventType || inputData.eventType || 'unknown';\n\n  console.log('Webhook recibido:', eventType);\n  console.log('API Key:', apiKey);\n\n  // Validación 1: Headers requeridos (más flexible para eventos internos)\n  if (!apiKey || !signature || !timestamp) {\n    return { json: { valid: false, error: 'Missing required headers', eventType, partnerId: apiKey } };\n  }\n\n  // Validación 2: Partner autorizado\n  if (!AUTHORIZED_PARTNERS.includes(apiKey)) {\n    return { json: { valid: false, error: 'Unauthorized partner: ' + apiKey, eventType, partnerId: apiKey } };\n  }\n\n  // Validación 3: Timestamp (relajada para internos)\n  const isInternal = apiKey === 'internal-system' && signature === 'internal-signature';\n  if (!isInternal) {\n    const currentTime = Math.floor(Date.now() / 1000);\n    const requestTime = parseInt(timestamp, 10) || 0;\n    const timeDiff = Math.abs(currentTime - requestTime);\n    if (timeDiff > MAX_TIMESTAMP_DIFF) {\n      return { json: { valid: false, error: 'Timestamp expired: ' + timeDiff + 's', eventType, partnerId: apiKey } };\n    }\n  }\n\n  // Validación 4: Firma presente (se acepta internal-signature para internos)\n  if (signature.length < 10 && signature !== 'test-sig' && signature !== 'internal-signature') {\n    return { json: { valid: false, error: 'Invalid signature format', eventType, partnerId: apiKey } };\n  }\n\n  console.log('Autenticación exitosa para:', apiKey);\n\n  // Extraer payload real del body (puede estar envuelto o directo)\n  const payload = body.data || body.ticket || body.payment || body || {};\n\n  // Retornar datos validados\n  return {\n    json: {\n      valid: true,\n      eventType: eventType,\n      partnerId: apiKey,\n      payload: payload,\n      receivedAt: new Date().toISOString(),\n      nonce,\n    }\n  };\n} catch (err) {\n  return { json: { valid: false, error: err?.message || 'Unknown error in HMAC validator' } };\n}\n"
      },
      "id": "node-hmac",
      "name": "2. Verificar HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "parking.exited",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Salida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "parking.entered",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Entrada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "parking.reserved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reserva"
            }
          ]
        },
        "options": {}
      },
      "id": "node-switch",
      "name": "3. Switch Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://parking-backend-rest:3000/registro/buscar-vehiculo/{{ $json.payload.plate || $json.payload.vehiculoPlaca }}",
        "options": {}
      },
      "id": "node-buscar-entrada",
      "name": "4a. Buscar Vehículo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        950,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://parking-backend-rest:3000/registro/asignar-espacio",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vehiculoId\": \"{{ $json.id }}\",\n  \"espacioId\": \"{{ $('2. Verificar HMAC').item.json.payload.spaceId || $('2. Verificar HMAC').item.json.payload.espacioId }}\"\n}",
        "options": {}
      },
      "id": "node-asignar",
      "name": "5a. Asignar Espacio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1180,
        140
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://parking-backend-rest:3000/registro/buscar-vehiculo/{{ $json.payload.plate || $json.payload.vehiculoPlaca }}",
        "options": {}
      },
      "id": "node-buscar-salida",
      "name": "4b. Buscar Vehículo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        950,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://parking-backend-rest:3000/registro/desocupar-espacio",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticketId\": \"{{ $json.ticketActivo.id || $('2. Verificar HMAC').item.json.payload.ticketId }}\",\n  \"metodoPago\": \"{{ $('2. Verificar HMAC').item.json.payload.metodoPago || $('2. Verificar HMAC').item.json.payload.metodoPago || 'Efectivo' }}\"\n}",
        "options": {}
      },
      "id": "node-desocupar",
      "name": "5b. Desocupar Espacio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://parking-backend-rest:3000/registro/espacios-disponibles",
        "options": {}
      },
      "id": "node-espacios",
      "name": "4c. Ver Espacios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        950,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar respuesta de reserva\nconst espacios = $input.first().json;\nconst payload = $('2. Verificar HMAC').item.json.payload;\n\nconst espacioDisponible = espacios.find(e => e.id === payload.spaceId) || espacios[0];\n\nreturn {\n  json: {\n    success: true,\n    message: 'Espacio reservado pendiente de asignación',\n    espacio: espacioDisponible,\n    plate: payload.plate\n  }\n};"
      },
      "id": "node-reserva-response",
      "name": "5c. Procesar Reserva",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Event processed successfully\",\n  \"eventType\": \"{{ $('2. Verificar HMAC').item.json.eventType }}\",\n  \"partnerId\": \"{{ $('2. Verificar HMAC').item.json.partnerId }}\",\n  \"processedAt\": \"{{ new Date().toISOString() }}\",\n  \"result\": {{ JSON.stringify($json) }}\n}"
      },
      "id": "node-ack",
      "name": "6. Responder ACK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1420,
        300
      ]
    }
  ],
  "connections": {
    "1. Webhook Trigger": {
      "main": [
        [
          {
            "node": "2. Verificar HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Verificar HMAC": {
      "main": [
        [
          {
            "node": "3. Switch Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Switch Evento": {
      "main": [
        [
          {
            "node": "4b. Buscar Vehículo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4a. Buscar Vehículo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4c. Ver Espacios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4a. Buscar Vehículo": {
      "main": [
        [
          {
            "node": "5a. Asignar Espacio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5a. Asignar Espacio": {
      "main": [
        [
          {
            "node": "6. Responder ACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4b. Buscar Vehículo": {
      "main": [
        [
          {
            "node": "5b. Desocupar Espacio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5b. Desocupar Espacio": {
      "main": [
        [
          {
            "node": "6. Responder ACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4c. Ver Espacios": {
      "main": [
        [
          {
            "node": "5c. Procesar Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5c. Procesar Reserva": {
      "main": [
        [
          {
            "node": "6. Responder ACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}