n8n-workflows/partner-handler-complete.json
{
  "name": "Partner Handler COMPLETO - Parking B2B",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "partner-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "1. Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "partner-webhook-complete"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// VERIFICACIÓN HMAC (sin módulo crypto)\n// ============================================\nconst MAX_TIMESTAMP_DIFF = 300; // 5 minutos\n\n// Lista de partners autorizados (en producción: base de datos)\nconst AUTHORIZED_PARTNERS = ['waze-partner', 'google-partner', 'test-partner-123', 'waze-partner-001'];\n\n// Extraer datos del webhook\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\n\n// Headers de autenticación\nconst apiKey = headers['x-api-key'] || '';\nconst signature = headers['x-signature'] || '';\nconst timestamp = headers['x-timestamp'] || '';\nconst nonce = headers['x-nonce'] || '';\nconst eventType = headers['x-webhook-event'] || 'unknown';\n\nconsole.log('Webhook recibido:', eventType);\nconsole.log('API Key:', apiKey);\n\n// Validación 1: Headers requeridos\nif (!apiKey || !signature || !timestamp) {\n  throw new Error('Missing required headers: x-api-key, x-signature, x-timestamp');\n}\n\n// Validación 2: Partner autorizado\nif (!AUTHORIZED_PARTNERS.includes(apiKey)) {\n  throw new Error('Unauthorized partner: ' + apiKey);\n}\n\n// Validación 3: Timestamp no expirado (anti-replay attack)\nconst currentTime = Math.floor(Date.now() / 1000);\nconst requestTime = parseInt(timestamp, 10);\nconst timeDiff = Math.abs(currentTime - requestTime);\n\nif (timeDiff > MAX_TIMESTAMP_DIFF) {\n  throw new Error('Timestamp expired: ' + timeDiff + 's (max: ' + MAX_TIMESTAMP_DIFF + 's)');\n}\n\n// Validación 4: Firma presente (la verificación real se hace en el backend B2B)\nif (signature.length < 10 && signature !== 'test-sig') {\n  throw new Error('Invalid signature format');\n}\n\nconsole.log('Autenticación exitosa para:', apiKey);\n\n// Retornar datos validados\nreturn {\n  json: {\n    valid: true,\n    eventType: eventType,\n    partnerId: apiKey,\n    payload: body,\n    receivedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "node-hmac",
      "name": "2. Verificar HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "parking.entered",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Entrada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "parking.exited",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Salida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.eventType }}",
                    "rightValue": "parking.reserved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reserva"
            }
          ]
        },
        "options": {}
      },
      "id": "node-switch",
      "name": "3. Switch Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://parking-backend-rest:3000/registro/buscar-vehiculo/{{ $json.payload.plate }}",
        "options": {}
      },
      "id": "node-buscar-entrada",
      "name": "4a. Buscar Vehículo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [950, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://parking-backend-rest:3000/registro/asignar-espacio",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vehiculoId\": \"{{ $json.vehiculo.id }}\",\n  \"espacioId\": \"{{ $('1. Webhook Trigger').item.json.body.spaceId }}\"\n}",
        "options": {}
      },
      "id": "node-asignar",
      "name": "5a. Asignar Espacio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1180, 140]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://parking-backend-rest:3000/registro/buscar-vehiculo/{{ $json.payload.plate }}",
        "options": {}
      },
      "id": "node-buscar-salida",
      "name": "4b. Buscar Vehículo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [950, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://parking-backend-rest:3000/registro/desocupar-espacio",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticketId\": \"{{ $json.ticketActivo.id }}\",\n  \"metodoPago\": \"{{ $('1. Webhook Trigger').item.json.body.paymentMethod || 'Efectivo' }}\"\n}",
        "options": {}
      },
      "id": "node-desocupar",
      "name": "5b. Desocupar Espacio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://parking-backend-rest:3000/registro/espacios-disponibles",
        "options": {}
      },
      "id": "node-espacios",
      "name": "4c. Ver Espacios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [950, 460]
    },
    {
      "parameters": {
        "jsCode": "// Preparar respuesta de reserva\nconst espacios = $input.first().json;\nconst payload = $('2. Verificar HMAC').item.json.payload;\n\nconst espacioDisponible = espacios.find(e => e.id === payload.spaceId) || espacios[0];\n\nreturn {\n  json: {\n    success: true,\n    message: 'Espacio reservado pendiente de asignación',\n    espacio: espacioDisponible,\n    plate: payload.plate\n  }\n};"
      },
      "id": "node-reserva-response",
      "name": "5c. Procesar Reserva",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Event processed successfully\",\n  \"eventType\": \"{{ $('2. Verificar HMAC').item.json.eventType }}\",\n  \"partnerId\": \"{{ $('2. Verificar HMAC').item.json.partnerId }}\",\n  \"processedAt\": \"{{ new Date().toISOString() }}\",\n  \"result\": {{ JSON.stringify($json) }}\n}"
      },
      "id": "node-ack",
      "name": "6. Responder ACK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1420, 300]
    }
  ],
  "connections": {
    "1. Webhook Trigger": {
      "main": [
        [
          {
            "node": "2. Verificar HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Verificar HMAC": {
      "main": [
        [
          {
            "node": "3. Switch Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Switch Evento": {
      "main": [
        [
          {
            "node": "4a. Buscar Vehículo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4b. Buscar Vehículo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4c. Ver Espacios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4a. Buscar Vehículo": {
      "main": [
        [
          {
            "node": "5a. Asignar Espacio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5a. Asignar Espacio": {
      "main": [
        [
          {
            "node": "6. Responder ACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4b. Buscar Vehículo": {
      "main": [
        [
          {
            "node": "5b. Desocupar Espacio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5b. Desocupar Espacio": {
      "main": [
        [
          {
            "node": "6. Responder ACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4c. Ver Espacios": {
      "main": [
        [
          {
            "node": "5c. Procesar Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5c. Procesar Reserva": {
      "main": [
        [
          {
            "node": "6. Responder ACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
