n8n-workflows/telegram-ai-chat.json
{
  "name": "Telegram Bot - AI Chat",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "schedule-polling",
      "name": "Cada 10 segundos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8481248166:AAElOMd-6SlJG1kVaohQVxv5GKSxOovTjBA/getUpdates",
        "options": {
          "timeout": 5000
        }
      },
      "id": "get-telegram-updates",
      "name": "Obtener Mensajes Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-messages",
              "leftValue": "={{ $json.result.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-messages",
      "name": "Hay mensajes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "result",
        "options": {}
      },
      "id": "split-messages",
      "name": "Separar Mensajes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [820, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-text",
              "leftValue": "={{ $json.message?.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            },
            {
              "id": "is-my-chat",
              "leftValue": "={{ $json.message?.chat?.id }}",
              "rightValue": "6315199816",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid",
      "name": "Filtrar mensajes validos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1020, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://parking-b2b:3002/mcp/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message.text }}"
            },
            {
              "name": "sessionId",
              "value": "=telegram_{{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-mcp",
      "name": "Enviar al MCP/AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 200]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8481248166:AAElOMd-6SlJG1kVaohQVxv5GKSxOovTjBA/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: 6315199816, text: $json.message?.content || 'No pude procesar tu mensaje', parse_mode: 'HTML' }) }}",
        "options": {}
      },
      "id": "send-response",
      "name": "Responder en Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1460, 200]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8481248166:AAElOMd-6SlJG1kVaohQVxv5GKSxOovTjBA/getUpdates?offset={{ $('Separar Mensajes').item.json.update_id + 1 }}",
        "options": {}
      },
      "id": "mark-as-read",
      "name": "Marcar como leido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 200]
    }
  ],
  "connections": {
    "Cada 10 segundos": {
      "main": [
        [
          {
            "node": "Obtener Mensajes Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Mensajes Telegram": {
      "main": [
        [
          {
            "node": "Hay mensajes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay mensajes?": {
      "main": [
        [
          {
            "node": "Separar Mensajes",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Separar Mensajes": {
      "main": [
        [
          {
            "node": "Filtrar mensajes validos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar mensajes validos": {
      "main": [
        [
          {
            "node": "Enviar al MCP/AI",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Enviar al MCP/AI": {
      "main": [
        [
          {
            "node": "Responder en Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder en Telegram": {
      "main": [
        [
          {
            "node": "Marcar como leido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "parking-system"
  },
  "tags": [
    {
      "name": "parking",
      "id": "1"
    },
    {
      "name": "telegram",
      "id": "2"
    },
    {
      "name": "ai",
      "id": "4"
    }
  ]
}
